dj-database-url==0.4.0
Django==1.8.2
django-allauth==0.24.1
django-debug-toolbar==1.4
django-facebook-connect==1.0.1
geopy==1.11.0
gunicorn==19.4.5
oauthlib==1.0.3
psycopg2==2.6.1
python-openid==2.2.5
pytz==2015.7
redis==2.10.3
requests-oauthlib==0.6.0
sqlparse==0.1.18
wheel==0.26.0
whitenoise==2.0.6
