{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

    <h1>{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

   <div id = "pw_input">
	   <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

	   <p> Email: <input type = "email" id = "email"></p>
	    <p><button id = "submit"> Reset My Password </button></p>
    </div>
    </form>
    <script>
     $("#submit").click(function(){
 		$("#refresh_wheel").removeClass("hide");
 		$(".response_msg").addClass("hide");
 		$.ajax({
	        type: 'POST',
	        url: '/firstpick/reset_password/',
	        data: {'email': $("#email").val()},
	        success: function(response) {
	    		$("#refresh_wheel").addClass("hide");
	    		if (response.status == "success"){
	    			$("#success_msg").removeClass("hide");
	    			$("#pw_input").addClass("hide");
	    		} else {
	    			$("#error_msg").removeClass("hide");
	    		}
	    	}
	    });
     });
    </script>

    <p class = "response_msg hide" id = "success_msg"> We found your account and sent you an email with a new password. <a href="/"> Login </a> </p>
    <p class = "response_msg hide" id = "error_msg"> We could not find an account associated with that email. Are you sure that's the email address you registered with? </p>

    <div class = "hide" id = "refresh_wheel">
		<i class="glyphicon glyphicon-refresh glyphicon-refresh-animate center"></i>
	</div>	
{% endblock %}


