{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'styles.css' %}" >
<script src="{% static 'js/firstpick/messages.js' %}"></script>


{% for msg in messages %}
<div class = "msg_header clickable">
	<p class = "msg_header_line"> <strong> From: {{msg.sender}} </strong></p>
	<p class = "msg_header_line"> Sent: {{msg.datetime}} </p>
	<p class = "msg_header_line"> Subject: {{msg.subject}} </p>
	<div class = "msg_body hide"> {{msg.body | safe | escape }} </div>
</div>
{% empty %}
<p class = "center"> You have not received any messages </p>
{% endfor %}
  
{% endblock %}