{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'styles.css' %}" >
<script src="{% static 'js/firstpick/profile_settings.js' %}"></script>



    <div class = "settings_page" id = 'settings_page-0'>
      <h3> Verify your account information </h3>
      <input class = 'settings_input' type='text' id = 'first_name' value = '{{user.first_name}}'> 
      <input class = 'settings_input' type='text' id = 'last_name' value = '{{user.last_name}}'> 
      <input class = 'settings_input' type='text' id = 'email' value = '{{user.email}}'> 
      <select class = 'settings_input' type='text' id = 'gender' value = '{{userProfile.gender}}'>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
      </select>
      <div class = "settings_error hide" id = "settings_error-0"> Please fill in all fields </div>
      <div class = "settings_btns">
        <div class = 'btn btn-info settings_next' id = 'next-0'> Next</div>
      </div>
    </div>


    <div class = "settings_page" id = 'settings_page-1'>
      <h3> Where do you live? </h3>
      <div class = "hide" id = "home_lat">None</div>
      <div class = "hide" id = "home_lng">None</div>
      <input id="pac-input" class="settings_input" type="text" placeholder="Address search...">
      <div class = "settings_map">
        <div id="map"></div>
        <script>

          // Note: This example requires that you consent to location sharing when
          // prompted by your browser. If you see the error "The Geolocation service
          // failed.", it means you probably did not give permission for the browser to
          // locate you.

          // Try HTML5 geolocation.
          var pos = {lat: -34, lng: 150};

          function initMap() {
            var pos = {};
            navigator.geolocation.getCurrentPosition(function(position) {
              pos = {
                lat: position.coords.latitude,
                lng: position.coords.longitude
              };
            });

            var map = new google.maps.Map(document.getElementById('map'), {
              center: pos,
              zoom: 12,
              mapTypeControl:false,  
            });
           


          if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
              pos = {
                lat: position.coords.latitude,
                lng: position.coords.longitude,
              };
              //infoWindow.setPosition(pos);
              //infoWindow.setContent('Location found.');
              map.setCenter(pos);
            }, function() {
              var infoWindow = new google.maps.InfoWindow({map: map});
              handleLocationError(true, infoWindow, map.getCenter());
            });
          } else {
            // Browser doesn't support Geolocation
            var infoWindow = new google.maps.InfoWindow({map: map});
            handleLocationError(false, infoWindow, map.getCenter());
          }

          function handleLocationError(browserHasGeolocation, infoWindow, pos) {
            infoWindow.setPosition(pos);
            infoWindow.setContent(browserHasGeolocation ?
              'Error: The Geolocation service failed.' :
              'Error: Your browser doesn\'t support geolocation.');
          }
          
            // Create the search box and link it to the UI element.
            var input = document.getElementById('pac-input');
            var searchBox = new google.maps.places.SearchBox(input);
            //map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

            // Bias the SearchBox results towards current map's viewport.
            map.addListener('bounds_changed', function() {
              searchBox.setBounds(map.getBounds());
            });

            var markers = [];
            // Listen for the event fired when the user selects a prediction and retrieve
            // more details for that place.
            searchBox.addListener('places_changed', function() {
              var places = searchBox.getPlaces();

              if (places.length == 0) {
                return;
              }

              // Clear out the old markers.
              markers.forEach(function(marker) {
                marker.setMap(null);
              });
              markers = [];

              // For each place, get the icon, name and location.
              var bounds = new google.maps.LatLngBounds();
              places.forEach(function(place) {
                var icon = {
                  url: place.icon,
                  size: new google.maps.Size(71, 71),
                  origin: new google.maps.Point(0, 0),
                  anchor: new google.maps.Point(17, 34),
                  scaledSize: new google.maps.Size(25, 25)
                };

                // Create a marker for each place.
                markers.push(new google.maps.Marker({
                  map: map,
                  icon: icon,
                  title: place.name,
                  position: place.geometry.location,
                  draggable:true,
                }));

                $("#home_lat").text(place.geometry.location.lat());
                $("#home_lng").text(place.geometry.location.lng());

                if (place.geometry.viewport) {
                  // Only geocodes have viewport.
                  bounds.union(place.geometry.viewport);
                } else {
                  bounds.extend(place.geometry.location);
                }
              });

              //console.log(places.length);
              map.fitBounds(bounds);
              //var pt = new google.maps.LatLng(lat, lng);
              //map.setCenter(pt);
              map.setZoom(12);
            });

          }
        </script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key={{googlekey}}&libraries=places&callback=initMap"></script>
      </div>
      <div class = "settings_error hide" id = "settings_error-1"> Please choose an address </div>
      <div class = "settings_btns">
        <div class = 'btn btn-info settings_back' id = 'back-1'> Back </div>
        <div class = 'btn btn-info settings_next' id = 'next-1'> Save address </div>
      </div>
    </div>

    <div class = "settings_page hide" id = 'settings_page-2'>
      <h3> What sports do you want get invites for? </h3>
      <div id="sport_selection">
      {% for sport in sports %}
          <label class = "sport_choice clickable"><input type="checkbox" value="{{sport}}"> {{sport}}</label>
      {% endfor %}
      </div>
      <div class = "settings_error hide" id = "settings_error-2"> Please select at least one sport </div>
      <div class = "settings_btns">
        <div class = 'btn btn-info settings_back' id = 'back-2'> Back </div>
        <div class = 'btn btn-info settings_next' id = 'next-2'> Next </div>
      </div>
    </div>

    <div class = "settings_page hide" id = 'settings_page-3'>
      <h3> How far will you travel to play?  </h3>
      <div id="sport_radius"> </div>
      <div class = "settings_error hide" id = "settings_error-3"> Please enter a distance for each sport </div>
      <div class = "settings_btns">
        <div class = 'btn btn-info settings_back' id = 'back-3'> Back </div>
        <div class = 'btn btn-info settings_next' id = 'next-3'> Next </div>
      </div>
    </div>

    <div class = "settings_page hide" id = 'settings_page-4'>
      <h3> Please rate your skill at each sport  </h3>
      <div id="self_rating"> </div>
      <div class = "settings_error hide" id = "settings_error-4"> Please rate yourself for each sport </div>
      <div class = "settings_btns">
        <div class = 'btn btn-info settings_back' id = 'back-4'> Back </div>
        <div class = 'btn btn-info' id = 'submit'> Create profile </div>
      </div>
    </div>
  
{% endblock %}