{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'styles.css' %}" >
<script src="{% static 'js/firstpick/rsvp.js' %}"></script>

{% if error_msg%}

{% else %}


<div id="event_description">
	<h3> {{event.name }}</h3>
	<p> {{event.sport.name }}</p>
	<p> Organized by {{event.organizer.first_name }} {{event.organizer.last_name }}</p>
	<p> {{event.start }}</p>
	<div class = "settings_btns">
		<div class = "btn btn-success rsvp" id = "yes"> I'll be there! </div>
		<div class = "btn btn-danger rsvp" id = "no"> I can't make it </div>
	</div>
</div>
<div class = "hide" id = "rsvp_response">
	<h3 id = "rsvp_response_msg"> </h3>
	<div class = "settings_btns">
		<a class = "btn btn-info" href = "/firstpick/"> Home </a>
	</div>
</div>

{% endif %}

    
{% endblock %}