<p> Hi {{rater.first_name}}, </p>

<p> Looks like you recently finished playing {{e.sport.name | lower }} shortly at {{e.location_name}}. We'd like to ask you two questions about your game - who showed up and how good were they. This data helps us recommend the right people for the right games. </p> 

<p>Click <a href = "http://firstpick.herokuapp.com/firstpick/render_rating/?userpk={{rater.pk}}&eventpk={{e.pk}}"> here </a> to tell us about your game </p>

<p> Thanks </p>
<p> - Team Firstpick </p> 